::grammar-error{
    color: red;
    text-decoration: underline;
}
hr{
    height: 2px;
    color: lightgray;
}
table{
    border: 2px solid red;
    padding: 5px;
}
th{
    padding: 6px;
}
.form{
    width: 60%;
   }
fieldset{
     background-color: rgb(237, 237, 237);
}
legend{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2px;
}

