<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>My web site</h1>
    <nav>
        <!-- navbar section... -->
    </nav>
    <img src="nfklsd" alt="logo">
</header>
<!-- content -->
<section id="content">
    <h1>Content</h1>
</section>

<!-- articel -->

<article id="articel">
    <h1>Article</h1>
</article>






<!-- footer -->
<footer>
    <p>&copy; 2024 My website. All rights reserved.</p>
    <ul>
        <li><a href="#">Facbook</a></li>
        <li><a href="">Instagram</a></li>
        <li><a href="">Youtube</a></li>
        <li><a href="">E-mail</a></li>
    </ul>

</footer>
</body>
</html>